@model Yahoot.AppContext.Quiz

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sc-dwcuIR iUmJVW"></div>
<div class="sc-jtHMlw OpVJY"></div>

<div class="row col-12">
    <div class="col-3" style="display: block ruby;">
        <i class="fa-solid fa-users" style="font-size: 30px;"></i>
        <h2 id="counter-player" style="font-weight: bold;margin-left: 10px;">@Model.Users.Count</h2>
    </div>
    <div class="col-6">
        <h1 class="text-center" style="font-family: cairo;font-weight: bold;font-size: 40px;">مسابقة @Model?.QuizName</h1>
    </div>
    <div class="col-3">
        <a class="sc-gWHgXt dziOkl enter-button__Button-sc-3mpvij-0 cnNgKW" asp-action="QuizQuestion" asp-route-id="@Model?.Id">Start</a>
    </div>
</div>
<div class="row col-12">
    <div class="col-4"></div>
    <div class="col-4" style="background-color: white; color: black; box-shadow: 0px 4px 11px 7px;">
        <h1 class="text-center" style="font-weight: bold;">كود اللعبه @Model.QuizCode</h1>
    </div>
    <div class="col-4"></div>
</div>
<div class="row col-12" style="margin-top: 7%;">
    <ul id="players" style="text-align: center;">
        @if (Model?.Users.Count != 0)
        {
            foreach (var user in Model?.Users!)
            {
                <li onclick="remove(this)" style="cursor: not-allowed;list-style: none; background-color: #381273; display: inline-block; margin: 11px; font-weight: bold; border-radius: 6px; padding: 12px; font-size: 29px;">
                    @user.Name
                </li>
            }
        }
        
    </ul>
</div>


