@model System.Linq.IQueryable<Yahoot.Models.UserDegree>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row col-12">
    <div class="col-11">
        <h1>أشطر كتاكيت</h1>
    </div>
    <div class="col-1">
        @*next question*@
        <a onclick="startTimer()" class="sc-gWHgXt dziOkl enter-button__Button-sc-3mpvij-0 cnNgKW" style="font-size: 28px !important; background-color: #605ccd; color: white;" asp-action="QuizQuestion" asp-route-id="@TempData["quizId"]"  asp-route-questionId="@TempData["questionId"]">Next</a>
    </div>
</div>

<table class="table table-striped" style="color: white;font-size: 40px;font-family: cairo;text-align: center;">
    <thead class="thead-dark">
    <tr>
        <th scope="col">الاسم</th>
        <th scope="col">الدرجه</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr style="color: white;">
            <td>@item.Name</td>
            <td>@item.Degree</td>
        </tr>
    }
    </tbody>
</table>
